@model IEnumerable<StudentEnrollmentFrontend.Models.MenuImageViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap">
    <img src="/images/background-img-crop.jpg" class="w-100"></img>
    <div class="content w-100 h-100 d-flex justify-content-between align-items-center background-image-cover px-3">
        <i class="fa-solid fa-chevron-left fa-2xs" style="color: white; font-size: 5rem;"></i>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="title m-0">Unleash</h1>
            <p class="text-light fs-1 m-0">your child’s full potential</p>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: white; font-size: 5rem;"></i>
    </div>
</div>
<div class="p-5 d-flex flex-column align-items-center">
    <h1 class="w-75 text-center mt-5">Welcome to Timothy Shalamat School: The Only Accredited High School In North County St Ann!</h1>
    <p class="w-75 text-center mt-5" style="color: #898989;">At Timothy Shalamat School, we are dedicated to nurturing a lifelong passion for learning within each student. We cherish the individuality of every child, recognizing them as a unique blend of body, soul, and spirit. Our educational approach is centered around engaging the whole child, encompassing their physical, emotional, and intellectual development. Located on a picturesque campus in Vista, California, we offer comprehensive programs for students aged 16 months through 8th grade. Our doors are open to all families seeking an enriching, hands-on education that not only cultivates academic confidence but also fosters the essential skills of creativity, resilience, innovative thinking, and social and emotional intelligence. Join us at Timothy Shalamat School, where we are committed to empowering young minds for a brighter future.</p>
    <a class="btn btn-primary px-5 py-3 border-0 my-5" style="background-color: #F68836;">READ MORE</a>
    <div class="wrap">
        <img src="/images/pencils.jpg" alt="video background">
        <div class="content w-100 h-100 d-flex justify-content-center align-items-center background-image-cover">
        <i class="fa-solid fa-play" style="color: white; font-size: 5rem;"></i>
    </div>
    </div>
    <p class="w-75 text-center mt-5" style="color: #ED6468;">"We have 2 boys attending Timothy Shalamat School, and we transferred to Timothy Shalamat from a public school two years ago. Here are some of the things we appreciate about the school: the strong focus on fostering creativity and instilling a lifelong love of learning, the opportunity for students to learn two languages (Spanish and German) starting in 1st grade, the integration of movement into the learning process (perfect for my active boys), the immersive and experiential academic program, which minimizes the use of worksheets, the engaging music and games classes, the commitment to outdoor and nature-based education, the caring and dedicated teachers, and a multitude of other aspects that make Timothy Shalamat School a fantastic educational choice." <br><br> — Carolyn, Parent of Timothy Shalamat School Student</p>
</div>
<div class="wrap w-100 mt-5">
    <img src="/images/sidebar-bg.svg" class="w-100"></img>
    <div class="content w-100 h-100 d-flex justify-content-center align-items-center">
        <p class="text-light fs-3"><strong>FOLLOW US</strong> for a peek into our program</p>
    </div>
</div>
<div class="w-100 d-flex flex-column align-items-center p-5" style="background-color: #ED6468">
    <h1 class="text-light">Facts for Thought</h1>
    <div class="container w-100 mt-5">
        <div class="row">
            <p class="col text-center text-light fs-5">75 <br><br>Number of countries with Good High schools</p>
            <p class="col text-center text-light fs-5">1000+ <br><br>Number of High schools worldwide</p>
            <p class="col text-center text-light fs-5">94%*<br><br>Timothy graduates attend college</p>
            <p class="col text-center text-light fs-5">50%*<br><br>More Timothy graduates study science and math than the general population</p>
        </div>
    </div>
    <p class="mt-5 text-light">*The Research Institute for MIE Education</p>
</div>
<div class="w-100 d-flex flex-column align-items-center p-5">
    <h1>Our Menu Options</h1>
    <div class="container my-5">
       <div class="row menu">
            @foreach (var item in Model)
            {
            <div class="col d-flex flex-column align-items-center">
                <h3 style="color: #F68836;">@Html.DisplayFor(modelItem => item.Menu!.MealType!.MealTypeName)</h3>
                <div class="card p-0 mt-2" style="width: 18rem;">
                    @if (Model != null && item!.ImageBytes != null && !string.IsNullOrEmpty(item!.ContentType))
                        {
                            string imageBase64 = Convert.ToBase64String(item!.ImageBytes);
                            string imageSrc = $"data:{item.ContentType};base64,{imageBase64}";

                            <img class="card-img-top" src="@imageSrc" alt="Image" />
                        }
                    else
                        {
                            <img class="card-img-top" src="/images/rice-and-peas.jpg" alt="Card image cap">
                        }
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Menu!.Starch) and  @Html.DisplayFor(modelItem => item.Menu!.Meat)</h5>
                        <p class="card-text">Enjoy @Html.DisplayFor(modelItem => item.Menu!.Meat) and @Html.DisplayFor(modelItem => item.Menu!.Starch) and wash it down with a @Html.DisplayFor(modelItem => item.Menu!.Beverage) with a healthy side of @Html.DisplayFor(modelItem => item.Menu!.Vegetable)</p>
                        <a  class="btn btn-primary w-100 py-3 border-0" style="background-color: #F68836;">ORDER NOW</a>
                    </div>
                </div>
            </div>
            }
       </div>
    </div>
</div>