@model IEnumerable<StudentEnrollmentFrontend.Models.MenuImageViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-5 pt-5 min-vh-100">
    <div class="col-sm-8 offset-md-2">
        <h1 style="color: #ED6468;">Menu Dashboard</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu!.Starch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu!.Beverage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu!.Meat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu!.Vegetable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu!.MealType!.MealTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu!.MenuImageFilePath)
                    </th>
                    <th>
                        <a asp-action="Upsert" class="btn btn-sm btn-success"> <i class="fa-solid fa-plus"></i> New</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu!.Starch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu!.Beverage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu!.Meat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu!.Vegetable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu!.MealType!.MealTypeName)
                        </td>
                        <td>
                            @if (Model != null && item!.ImageBytes != null && !string.IsNullOrEmpty(item!.ContentType))
                            {
                                string imageBase64 = Convert.ToBase64String(item!.ImageBytes);
                                string imageSrc = $"data:{item.ContentType};base64,{imageBase64}";

                                <img style="width: 50px;" src="@imageSrc" alt="Image" />
                            }
                            else
                            {
                                <p>Image not available</p>
                            }
                            @* <img src="@item.MenuImageFilePath"/>
                            @Html.DisplayFor(modelItem => item.MenuImageFilePath)  *@
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.Menu!.Id">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="Upsert" asp-route-id="@item.Menu!.Id" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Menu!.Id" class="btn btn-primary"><i class="fa-solid fa-info"></i></a>
                                    <button type="submit" class="btn btn-danger"
                                            onclick="return confirm('Are you sure you want to delete this record?')">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> 


